<%= render 'layouts/adminheader' %>
<div class="container">
商品一覧
<table class="table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
    <% @items.each do |f| %>
        <tr>
            <td><%= f.id %></td>
            <td><%= f.name %></td>
            <td><%= f.non_taxed_price %></td>
            <td><%= f.genre.name %></td>
            <td><% if f.status == 0 %>
            <%= "販売中" %>
            <% else %>
            <%= "販売停止中" %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>





</div>

